*,
*::before,
*::after {
    box-sizing: border-box; // border: 1px solid red;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: rem(16px);
}

body {
    -webkit-overflow-scrolling: touch !important;
    -webkit-overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', "sans-serif";
    font-weight: 400;
    line-height: 1.42;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
button {
    transition: all .2s;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

button {
    border: 0;
    cursor: pointer;
    outline: none;
}

[disabled] {
    cursor: not-allowed;
}

input,
textarea,
select {
    font-family: inherit;
    transition: .2s;
}

.vshidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.box {
    height: 300px;
    background-color: #222;
    color: aliceblue;
    text-align: center;
}